<% content_for :page_links do %>
  <%= link_to 'Edit', edit_my_fifa_team_path(@team), class: 'ui orange button' %>
  <%= link_to 'Back', my_fifa_teams_path, class: 'ui basic button' %>
<% end %>

<div class="ui segment">
  <div class="ui dividing header">Competitions</div>
  <%= @team.competitions.map{ |c| "<u><b>#{c}</b></u>" }.join(', ').html_safe %>
</div>