<div class="four wide column">
  <%= f.select "player_id_#{no}", grouped_options_for_select(@grouped_players, @squad.send("player_id_#{no}")), {prompt: MyFifa::Squad.positions[no-1]}, {class: 'small fluid dropdown player-field'} %>
</div>
