.four.wide.column.field[no-empty]
  = f.select "player_id_#{no}",
    grouped_options_for_select(@grouped_players, @squad.public_send("player_id_#{no}")),
    {prompt: @formation.public_send("pos_#{no}") },
    {class: 'small fluid grouped search dropdown'}