<div class="ui basic tiny success modal">
  <div class="ui icon header">
    <i class="green checkmark icon"></i>
    Squad has been successfully updated.
  </div>
</div>

<div class="ui basic tiny error modal">
  <div class="ui icon header">
    <i class="red remove icon"></i>
    Squad could not be updated.
  </div>
</div>