.ui.basic.tiny.success.modal
  .ui.icon.header
    i.green.checkmark.icon 
    |  Squad has been successfully saved. 

.ui.basic.tiny.error.modal
  .ui.icon.header
    i.red.remove.icon
    |  Squad could not be updated. 