- content_for :page_links do
  = link_to 'New Squad', new_my_fifa_squad_path, class: 'ui basic primary button'

table.ui.basic.definition.selectable.compact.small.table[data-link="/my_fifa/squads/" width="100%"]
  thead
    th Name
    th.ten.wide Players
  tbody
    - @squads.each do |squad|
      tr[data-id=squad.id]
        td = squad.squad_name
        td = squad.player_names