.ui.raised.teal.segment
  .ui.dividing.header
    i.search.icon
    | Filter Matches

  .ui.form
    .equal.width.fields
      .field
        = label_tag :season
        = select_tag :season,
          options_for_select(@team.seasons.map{ |season| [season.title, season.id] }),
          include_blank: 'All Seasons',
          class: 'fluid dropdown'
      .field
        = label_tag :competition
        = select_tag :competition,
          options_for_select(@team.recorded_competitions, params[:competition]),
          include_blank: 'All Competitions',
          class: 'fluid dropdown'

javascript:
  $(function(){
    $('select#season, select#competition').change(function(){ filterTable.ajax.reload() });

    $('select#season').change(function(){
      $.get("/my_fifa/seasons/competitions?season="+$(this).dropdown('get value'), function(data){
        $('select#competition').dropdown('change values', data)
      });
    })
  })
