javascript:
  var matchIds = #{raw @player.records.map(&:match_id)};

  $(function(){
    $('[data-tab="analytics"]').tab({
      onFirstLoad: function(){
        Chartkick.eachChart(function(){
          var chart = arguments[0].chart;
          chart.series[0].options.lineWidth = 1.5;
          chart.series[0].options.point.events = {
            click: function(e){
              window.open("/my_fifa/matches/"+matchIds[e.point.index])
            }
          };
        });
      }
    });
  })