<div data-type="injury" class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="pink first aid icon"></i>
    <span class="player-name"></span> is injured.
  </div>
</div>

<div data-type="recover" class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="green first aid icon"></i>
    <span class="player-name"></span> is no longer injured. 
  </div>
</div>

<div data-type="loan" class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="orange plane icon"></i>
    <span class="player-name"></span> has been loaned out<span class="destination"></span>.
  </div>
</div>

<div data-type="return" class="ui basic tiny modal">
  <div class="ui icon header">
    <i class="green plane icon"></i>
    <span class="player-name"></span> has returned to the club. 
  </div>
</div>