.ui.basic.tiny.modal[data-type="injury"]
  .ui.icon.header
    i.pink.first.aid.icon
    span.player-name
    |  is injured. 

.ui.basic.tiny.modal[data-type="recover"]
  .ui.icon.header
    i.green.first.aid.icon
    span.player-name
    |  is no longer injured. 

.ui.basic.tiny.modal[data-type="loan"]
  .ui.icon.header
    i.orange.plane.icon
    span.player-name
    |  has been loaned out
    span.destination
    | . 

.ui.basic.tiny.modal[data-type="return"]
  .ui.icon.header
    i.green.plane.icon
    span.player-name
    |  has returned to the club.