$('.error').removeClass('error');

<% if @player.name.blank? %>

$('.invalid').remove();

  $('#player_name').closest('.field').addClass('error');
  $('#player_name').closest('.field').find('label')
    .after(
      '<div class="ui invalid left pointing red basic label">Name cannot be blank</div>'
    );
<% end %>

<% if @player.pos.blank? %>
  $('#player_pos').closest('.field').addClass('error');
  $('#player_pos').closest('.field').find('label')
    .after(
      '<div class="ui invalid left pointing red basic label">Position cannot be blank</div>'
    );
<% end %>

<% if @player.start_ovr.blank? %>
  $('#player_start_ovr').closest('.field').addClass('error');
  $('#player_start_ovr').closest('.field').find('label')
    .after(
      '<div class="ui invalid left pointing red basic label">OVR cannot be blank</div>'
    );
<% end %>