- content_for :page_links do
  = link_to 'New Player', new_my_fifa_player_path, class: 'ui primary button'

- unless @team.playable?
  .ui.error.mini.message
    i.close.icon
    .header
      = "#{@team.team_name} does not have enough Players!"

.ui.pointing.secondary.tiny.menu[data-menu="tabs"]
  .item.active[data-tab="list"] Player List
  .item[data-tab="analytics"] Analytics

.ui.active.basic.tab.segment[data-tab="list"]
  = render 'my_fifa/players/index_tabs/list'

.ui.basic.tab.segment[data-tab="analytics"]
  = render 'my_fifa/players/index_tabs/analytics'


javascript:
  var analyticsTable;

  $(function(){
    $('table#list').DataTable({
      order: [],
    });

    $('#season, #competition').change(function(){ analyticsTable.ajax.reload() });

    analyticsTable = $('table#analytics').DataTable({
      order: [[3, 'desc']],
      ajax: {
        url: '/my_fifa/players',
        data: function(d){
          d.season = $('select#season').val();
          d.competition = $('select#competition').val();
        },
        dataSrc: function(json){
          $.each(json.data, function(i, data){
            json.data[i].rank = data.gp * data.rating + 3 * data.goals + data.assists + data.cs;
          });
          return json.data;
        }
      },
      processing: true,
      columns: [
        { data: 'name' },
        { data: 'pos' },
        { data: 'gp' },
        { data: { _: 'rating', sort: 'rank' }, render: $.fn.dataTable.render.number(',', '.', '2') },
        { data: 'goals' },
        { data: 'assists' },
        { data: 'cs' },
      ],
      createdRow: function(nRow, aData){
        if (!aData.active){
          $('td:first-child', $(nRow)).prepend('<i class="red attention icon"></i>');
          $(nRow).addClass('disabled')
        }
      }
    });
  });