// Output the correct message
$('body').append(
  '<div id="response" class="ui basic tiny modal">' +
    '<div class="ui icon header">' +
      '<i class="<%= @icon %> icon"></i>' +
      '<%= @message %>' +
    '</div>' +
  '</div>'
);


$('.ui.modal#response')
  .modal({
    onHide: function(){
      window.location.reload();
    }
  })
  .modal('show');
