.item
  .header
    i.soccer.icon
    | MyFIFA Manager
  .menu
    = link_to 'Teams',          my_fifa_teams_path,             class: 'item'
    = link_to 'Formations',     my_fifa_formations_path,        class: 'item'
    = link_to 'Seasons',        my_fifa_seasons_path,           class: 'item'
    = link_to 'Players',        my_fifa_players_path,           class: 'item'
    = link_to 'Squads',         my_fifa_squads_path,            class: 'item'
    = link_to 'Analytics',      players_my_fifa_analytics_path, class: 'item'
    = link_to 'Match Archives', my_fifa_matches_path,           class: 'item'
    = link_to 'Play a Match',   new_my_fifa_match_path,         class: 'item'