<div class="ui sidebar visible inverted vertical menu">
  <div class="ui container">
    <%= link_to content_tag(:h1, 'JoonDEV', class: 'teal header'), main_app.root_path, class: 'item' %>
    <%= render 'cmsk/shared/menu' %>
    <div class="right menu">
      <%= link_to 'Manage Account', main_app.edit_user_registration_path, class: 'item' %>
      <%= link_to 'Log Out', main_app.destroy_user_session_path, method: :delete, class: 'item' %>
    </div>
  </div>
</div>