<style>
  .pusher, .ui.main.container, .ui.grid { height: 100%; }
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui header">Welcome to JoonDEV</h1>
    <h4>Click a Project to get Started.</h4>
  </div>
</div>