<div class="ui dividing header">
  Player Information
</div>
<div class="ui stackable grid">

  <div class="equal width row">
    <div class="column">
      <div class="ui header">
        <%= @player.pos %>
        <div class="sub header">Position</div>
      </div>
    </div>
    <div class="column">
      <div class="ui header">
        <%= @player.nationality %>
        <div class="sub header">Nationality</div>
      </div>
    </div>
    <div class="column">
      <div class="ui header">
        <%= @player.year_of_birth %>
        <div class="sub header">Year of Birth</div>
      </div>
    </div>
  </div>

  <div class="equal width row">
    <div class="column">
      <div class="ui header">
        <%= @player.get_sec_pos || 'N/A' %>
        <div class="sub header">Secondary Position(s)</div>
      </div>
    </div>
  </div>

</div>