- sub_record = record.sub_record

tr[data-id=record.player]
  td[no-link]
    div[class="ui #{'yellow' if record.player_id == @match.motm_id} ribbon label"]
      = record.pos
      - num_sub.times do |i|
        i.green.level.up.icon[style="visibility:#{i == num_sub-1 ? 'visible' : 'hidden'}"]
      - if sub_record.present?
        i.red.level.down.icon
  td.selectable
    = record.player.name
    = content_tag(:i, nil, class: 'soccer icon') if record.player_id == @match.motm_id
    = content_tag(:i, nil, class: 'first aid icon') if record.injured
    = content_tag(:i, nil, class: 'yellow square icon') if [1,4].include?(record.booking)
    = content_tag(:i, nil, class: 'red square icon') if [3,4].include?(record.booking)
  td.center.aligned[no-link]
  td.center.aligned[no-link]
    = responsive_cell_label 'OVR'
    = record.ovr
  td.center.aligned[no-link]
    = responsive_cell_label 'Rating'
    = record.rating
  td.center.aligned[no-link]
    = responsive_cell_label 'Goals'
    = record.goals || 0
  td.center.aligned[no-link]
    = responsive_cell_label 'Assists'
    = record.assists || 0

= render('record', record: sub_record, num_sub: num_sub+1) if sub_record.present?