<style>
  table th, tr, td {
    vertical-align: middle !important;
    text-align: center;
  }
  .tab-content { margin-top: 20px; }
</style>

<div class="form-group text-right">
  <%= link_to 'Edit', edit_season_path(@season), class: 'button button-raised button-highlight' %>
  <%= link_to 'Back', seasons_path, class: 'button button-raised' %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#fixtures">Fixtures</a></li>
  <li><a data-toggle="tab" href="#table">League Table</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="fixtures">
    <%= render 'fixtures' %>
  </div>
  <div class="tab-pane fade" id="table">

  </div>
</div>

<script>
  var lastPickedDate = null;
</script>