<script>
  $(function(){
    $('table tr').click(function(){
      window.location = '/cmsk/teams/'+$(this).data('team-id');
    })
  })
</script>

<i>Note: The current active Team is highlighted. To switch, click and view the Team of your choice.</i>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr class="thead-inverse">
      <th>Name</th>
      <th>Competitions</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.teams.each do |team| %>
      <tr data-team-id=<%= team.id %> class="<%= 'table-success' if cookies[:team].to_i == team.id %>">
        <td><%= team.team_name %></td>
        <td><%= team.competitions %></td>
      </tr>
    <% end %>
  </tbody>
</table>
