<div class="col-sm-12 text-right">
  <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning' %>
  <%= link_to 'Back', teams_path, class: 'btn btn-default' %>
</div>

<div class="col-sm-12 mt10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Competitions</div>
    </div>
    <div class="panel-body">
      <%#= @team.competitions.split(',').map{ |c| "<u><b>#{c}</b></u>" }.join(', ').html_safe %>
    </div>
  </div>
</div>
