<style>
  .table-container { overflow-x: scroll; }
  .table { min-width: 550px; }
</style>

<div class="table-container">
  <table class="table table-hover table-striped" data-link="/cmsk/games/">
    <thead class="thead-inverse">
      <tr>
        <% ['Opponent Team', 'Competition', 'Score', 'MOTM', 'Date Played'].each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
  </table>
</div>

<script>
  $(function(){
    $('table').DataTable({
      bSort: false,
      ajax: {
        url: '/cmsk/games'
      },
      processing: true,
      columns: [
        { data: 'opponent' },
        { data: 'competition' },
        { data: 'score', searchable: false },
        { data: 'motm' },
        { data: 'date_played', searchable: false },
      ],
      rowCallback: function(nRow, aData){
        $(nRow)
          .data('id', aData.id)
          .addClass(aData.result);
      }
    });    
  });
</script>