- content_for :page_links do
  = link_to 'Players List', my_fifa_players_path, class: 'ui basic button'

.ui.stackable.grid
  .three.centered.columns.row: .eight.wide.column
    .ui.horizontal.divider Select Players
    = select_tag :players,
      grouped_options_for_select(@grouped_players),
      multiple: true
  .row
    #players-table
    #matches-table
.ui.stackable.grid#charts-container

javascript:
  function getCharts(playerIds){
    $.getJSON("charts?players="+playerIds, function(data){
      $("#charts-container").empty().html(data);
    });
  }

  $(function(){
    $("#players").select2({
      width: '100%'
    });

    getCharts(null);
    $("#players").change(function(){
      var playerIds = $(this).val();
      getCharts(playerIds);
    })
  })