textarea { resize: vertical; }

/* Supplementary to Semantic UI */
.ui.left.menu { padding-top: 3em; }
.ui.main { margin-top: 5em !important; }
.pusher { overflow-y:auto !important; }

/* Supplementary to DirtyForms */
.dirty, .dirty:hover, .dirty:active, .dirty:focus { border-color: red; }

/* Supplementary to Flatpickr */
.flatpickr-wrapper { width: 100%; }