textarea { resize: vertical; }
#template { display: none !important; }

body > .ui.inverted.menu .dropdown.item:hover,
body > .ui.inverted.menu .link.item:hover,
body > .ui.inverted.menu a.item:hover,
body > .ui.link.inverted.menu .item:hover {
  background-color: teal;
}

.grouped.dropdown .divider {
  border-top: none !important;
  color: crimson;
}

.table-container { padding: 1rem; }
.row.dt-table > .column, .table-container { overflow-x: auto; overflow-y: visible;}

/* Responsive Labels */
.ui.label.responsive { display: none; }
@media only screen and (max-width: 767px){
  .ui.label.responsive { display: inline-block; }
}

/* Supplementary to Semantic UI */
.ui.left.menu { padding-top: 3em; }
.ui.main { margin-top: 5em !important; margin-bottom: 2em !important; width: 95%; }
.ui.main > .grid { margin-bottom: 0 }
.pusher { overflow-y:auto !important; }
.ui.segment.hidden, .ui.dropdown .menu > a.hidden.item { 
  display: none;
}
.ui.definition.table thead:not(.full-width) th:first-child {
  pointer-events: auto;
}

/* Supplementary to DataTables */
.ui.pagination.menu { width: 100%; }
.ui.pagination.menu .item {
  display: block;
  padding: .92857143em 0 .92857143em 0;
  flex-grow: 1;
  min-width: auto;
}

/* Supplementary to Flatpickr */
.flatpickr-wrapper { width: 100%; }