$('body').append(
  '<div class="ui basic tiny success modal">' +
    '<div class="ui icon header">' +
      '<i class="green checkmark icon"></i>' +
      'User Account has been successfully created.' +
    '</div>' +
  '</div>');

// Output success message
$('.ui.success.modal')
  .modal({
    onHide: function(){
      window.location = "<%= my_fifa_path %>";
    }
  })
  .modal('show');